<ion-item>
<ion-thumbnail>
  <ion-img [src]="offer.imageUrl"></ion-img>
</ion-thumbnail>
<ion-label>
  <h2 class="titl-h1"> {{offer.title}} </h2>
  <!-- <p> {{offer.description}} </p> -->
  <div class="offer-details">
  <ion-icon name="calendar" color="primary"></ion-icon>
  <ion-text color="secondary" class="space-left"> {{offer.availableFrom | date}} </ion-text>
  <span class="space-left">to</span>
  <ion-icon name="calendar" class="space-left" color="primary"></ion-icon>
  <ion-text color="secondary" class="space-left"> {{offer.availableTo | date}} </ion-text>
  </div>
</ion-label>
</ion-item>